<% include partials/header %>

<div class="ui main container segment">
    <div class="ui huge header">Edit: <%= blog.title %></div>

    <form class="ui form" action="/blogs/<%= blog._id %>?_method=PUT" method="post">
        <div class="field">
            <label for="">Title</label>
            <input type="text" name="blog[title]" value="<%= blog.title %>">
        </div>
        <div class="field">
            <label for="">Image</label>
            <input type="text" name="blog[image]" value="<%= blog.image %>">
        </div>
        <div class="field">
            <label for="">Post</label>
            <textarea name="blog[body]"><%= blog.body %></textarea>
        </div>
        <div class="ui buttons">
            <input type="submit" value="Update" class="ui violet button">
            <div class="or"></div>
            <a href="/blogs/<%= blog._id %>" class="ui green button">Cancel</a>
          </div>

    </form>
</div>

<% include partials/footer %>