<% include partials/header %>

<div class="ui main container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>" alt="Blog Image">
            <div class="content">
                <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%- blog.body %></p>
            </div>
        </div>
        <div class="ui buttons">
            <a class="ui blue inverted button big" href="/blogs/<%= blog._id %>/edit">Edit</a>
            <form action="/blogs/<%= blog._id %>?_method=DELETE" method="post">
                <input type="submit" value="Delete" class="ui red inverted button big">
            </form>
            <a class="ui green inverted button big" href="/blogs">Back</a>
          </div>
    </div>
</div>

<% include partials/footer %>